# Copy this file to .env and fill in real values (never commit .env)
PUBLIC_SENTRY_DSN=PUBLIC_SENTRY_DSN=https://13219c067528f70eb55065ed4acc1ce9@o4510954262691840.ingest.us.sentry.io/4510958890385408
SENTRY_AUTH_TOKEN=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
SENTRY_ORG=45-books
SENTRY_PROJECT=javascript

